/* LOCAL RESET */
body .app-container *,
body .app-container *::before,
body .app-container *::after {
  box-sizing: border-box;
  word-break: initial;
}
body .app-container h1,
body .app-container h2,
body .app-container h3,
body .app-container h4,
body .app-container h5,
body .app-container h6,
body .app-container p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font: inherit;
}
body .app-container img,
body .app-container picture {
  max-width: 100%;
  display: block;
}
body .app-container button,
body .app-container input[type=submit],
body .app-container input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  letter-spacing: initial;
}
body .app-container button:hover,
body .app-container button:focus {
  text-decoration: none;
}
body .app-container input,
body .app-container button,
body .app-container textarea,
body .app-container select {
  font: inherit;
}
body .app-container a:hover, body .app-container a:active, body .app-container a:focus {
  text-decoration: none;
}

/* Typography */
@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded 500"), local("MuseoSansRounded-500"), url(../font/MuseoSansRounded-500.woff2) format("woff2"), url(../font/MuseoSansRounded-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded 700"), local("MuseoSansRounded-700"), url(../font/MuseoSansRounded-700.woff2) format("woff2"), url(../font/MuseoSansRounded-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded 900"), local("MuseoSansRounded-900"), url(../font/MuseoSansRounded-900.woff2) format("woff2"), url(../font/MuseoSansRounded-900.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* App */
.donut-adventure {
  position: relative;
  min-height: 1444px;
  margin: 20px 0;
}

.app-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 1224px;
  padding: 12px;
  background-size: cover;
  background-repeat: repeat-y;
  background-color: #D19B61;
  border-radius: 12px;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
}
.app-container.wood, .app-container .wood {
  background-image: url("data:image/svg+xml,%3Csvg width=%27172%27 height=%27198%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M122.118 7.161c-6.278-.478-12.149-1.062-17.773-1.622-16.261-1.618-30.442-3.029-46.34-1.08-3.455.42-6.697.891-9.804 1.342-8.139 1.18-15.348 2.227-23.011 1.885C16.877 7.056 12.938 6.112 0 0h5.493c1.23.577 2.169.997 3 1.312.087.026.272.102.549.215 1.908.78 8.158 3.333 16.365 3.746 6.576.295 13.385-.732 21.291-1.923h.004c3.345-.505 6.886-1.038 10.689-1.514 16.451-2.079 31.337-.635 47.125.896h.003c8.315.806 16.88 1.637 26.056 1.99 12.324-.079 26.914-1.076 39.961-2.545v2.466c-16.95 2.256-36.13 3.646-48.418 2.518z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M82.522 11.093c-7.657.485-13.669 1.902-17.557 3.47-.359.111-5.683 2.051-5.743 2.088C41.097 22.247 19.352 14.562 0 5.981V4.229c19.382 8.73 41.007 16.527 58.953 11.043 20.49-7.625 26.788-6.599 54.366-2.105l1.707.278c1.04.17 2.109.343 3.209.521.846.112 1.692.245 2.538.377a80.756 80.756 0 003.406.484l.035.004c1.173.153 21.684 2.644 46.322-2.17v1.081c-26.802 5.58-46.048 2.58-61.891-.079-8.945-1.5-17.24-2.893-26.123-2.57z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M67.818 23.36c3.689-.682 15.89-.25 31.261.292 7.717.273 16.233.573 24.872.776-4.058.172-6.77.599-7.261 1.39-2.661 4.282 31.227 5.917 54.874 6.514v-1.297c-24.424-.675-51.048-2.154-53.469-4.672 3.139-2.05 36.16.078 53.469 1.428v-.7c0-.209-.06-.416-.15-.624-7.817-.616-19.842-1.377-29.587-1.803 10.41.007 21.667-.266 29.796-1.053v-1.753c-19.046 1.803-49.832.801-72.49.03h-.003c-15.556-.53-27.923-.95-31.551-.28-10.371 1.913-58.482-4.76-65.746-5.767h-.007l-.004-.001-.036-.005-.698-.097v1.79l.503.07h.005c7.31 1.021 55.48 7.748 66.222 5.763z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M0 21.142c19.372-.026 53.332.57 60.118 5.008C68.877 31.808 25.26 30.432.09 29.213v-1.324c21.015.986 57.188 2.258 59.55-.363-3.11-4.386-38.983-5.06-59.61-5.06 0-.066-.008-.124-.015-.183l-.01-.077A1.024 1.024 0 010 22.102v-.96z%27 fill=%27%23C68C4E%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M150.019 37.472c-1.043.15-2.068.299-3.247.42 7.919.291 17.163.618 24.974.982v1.402c-23.752-.342-44.076-.607-59.254-.82l-.473-.006h-.007c-56.557-.792-60.16-.843-63.677-1.341-.238-.034-.475-.07-.729-.108H47.6a77.57 77.57 0 00-3.67-.476c-.16 0-.633-.044-1.382-.114h-.003c-4.992-.468-22.238-2.084-41.155.555h-.03v-1.48c2.999-.557 5.9-.98 8.689-1.295-2.812.099-5.747.201-8.812.307V34.46c22.148-2.133 45.622-3.137 66.605-4.035l.112-.005 5.03-.216c6.92-.018 18.857 1.293 30.608 2.583h.001c4.75.522 9.469 1.04 13.814 1.466 24.125 2.222 26.973 1.866 31.278 1.326h.001c2.23-.279 4.851-.607 11.022-.652 2.571 0 7.581.182 11.886.545V36.9c-1.465-.078-4.293-.13-5.757-.182h-.001c-9.048-.226-12.522.277-15.816.753h-.001zm-32.911-.676c.969.086 1.905.167 2.81.244-22.706-.614-45.4-.972-67.29-1.15-1.795-.208-12.107-1.401-17.01-1.48a1541.188 1541.188 0 01-2.56-.05l3.358-.123c28.379-1.04 36.936-1.355 45.422-.827 3.663.227 7.314.612 12.538 1.162h.004c5.353.564 12.36 1.302 22.728 2.224z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M39.642 43.718c2.736 2.106 5.554 4.274 23.626-.334l.321-.082.565-.145.073-.018c3.139-.806 4.97-1.276 6.84-1.47 2.621-.271 5.317 0 11.791.65h.001c1.386.14 2.945.296 4.714.468l.725.07c13.023 1.266 30.436 2.958 37.45 2.474 6.905-.493 28.256 2.88 40.632 5.346h4.753c.329 0 .598-.078.867-.182-11.569-2.387-38.061-7.007-46.342-6.436-6.985.486-24.593-1.234-37.705-2.515h-.005c-7.2-.703-13.042-1.274-15.024-1.274-2.607 0-6.14.899-10.07 1.9-4.544 1.155-9.62 2.447-14.413 2.642-4.904.202-6.43-.984-8.009-2.213-1.252-.973-2.537-1.973-5.563-2.329-3.857-.467-20.657.753-33.721 1.817v1.297c13.034-1.064 29.805-2.283 33.511-1.842 2.55.304 3.758 1.234 4.983 2.176z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M37.376 47.775h-.001c-2.74-.955-5.261-1.834-7.35-2.185-4.364-.727-19.042.908-28.847 2.154v-.649c9.865-1.245 24.513-2.88 28.997-2.128 2.161.356 4.751 1.258 7.543 2.231 6.17 2.15 13.323 4.642 19.003 2.337 8.311-3.374 24.574-3.815 39.401-3.815 7.623 0 29.237 2.595 47.293 4.957h-4.992c-16.891-2.18-35.425-4.334-42.33-4.334-14.739 0-30.912.44-39.073 3.763-.568.233-1.166.415-1.763.57h-7.922c-3.387-.61-6.816-1.805-9.959-2.9zM104.346 56.277h-.001c-16.26-1.618-30.442-3.029-46.34-1.08-3.455.42-6.697.891-9.804 1.342-8.139 1.18-15.348 2.227-23.011 1.885-8.313-.63-12.252-1.574-25.19-7.686h5.493c1.23.577 2.169.997 3 1.312.087.026.272.102.549.215 1.908.78 8.158 3.333 16.365 3.746 6.577.294 13.385-.732 21.291-1.923 3.346-.504 6.888-1.038 10.693-1.514 16.452-2.079 31.337-.635 47.125.896 8.316.806 16.882 1.637 26.059 1.99 12.324-.079 28.277-1.076 41.324-2.545v2.466c-16.95 2.256-37.493 3.646-49.781 2.518-6.275-.478-12.145-1.062-17.766-1.621h-.006z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M64.965 65.3c3.888-1.567 9.9-2.984 17.557-3.47 8.883-.322 17.178 1.07 26.123 2.57 15.843 2.658 36.452 5.659 63.254.08v-1.083c-24.637 4.814-46.51 2.324-47.684 2.171h-.001l-.042-.005-.014-.002a80.66 80.66 0 01-3.385-.481c-.846-.132-1.692-.265-2.538-.377-1.702-.275-3.33-.54-4.89-.795l-.026-.004c-27.578-4.494-33.876-5.52-54.366 2.105C41.007 71.493 19.382 63.696 0 54.966v1.753C19.352 65.3 41.097 72.986 59.222 67.39c.06-.037 5.384-1.977 5.743-2.089z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M99.08 74.39c-15.373-.543-27.573-.974-31.262-.291-10.742 1.985-58.907-4.741-66.22-5.763h-.002l-.508-.07v-1.79l.327.045.411.057h.005c7.261 1.008 55.376 7.681 65.748 5.767 3.628-.67 15.995-.249 31.552.28 22.659.772 53.446 1.774 72.492-.03v1.754c-8.129.787-19.386 1.06-29.796 1.053 9.745.426 21.77 1.187 29.587 1.803.09.208.15.415.15.623v.7c-17.309-1.349-50.33-3.477-53.469-1.427 2.421 2.518 29.045 3.997 53.469 4.672v1.297c-23.647-.597-57.535-2.232-54.874-6.514.491-.791 3.203-1.218 7.261-1.39-8.639-.203-17.153-.503-24.87-.776h-.002z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M60.118 76.888C53.332 72.45 19.372 71.854 0 71.88v.96a1.011 1.011 0 00.015.181c.007.059.015.117.015.182 20.627 0 56.5.675 59.61 5.06-2.362 2.622-38.535 1.35-59.55.364v1.324c25.17 1.22 68.787 2.595 60.028-3.063z%27 fill=%27%23C68C4E%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M146.772 88.63c1.179-.121 2.204-.27 3.248-.42 3.294-.477 6.768-.98 15.816-.754h.001c1.465.052 4.292.104 5.757.182V86.21c-4.305-.363-9.315-.545-11.886-.545-6.172.045-8.793.373-11.023.652-4.305.54-7.153.896-31.278-1.326-4.345-.426-9.064-.944-13.814-1.466h-.001c-11.751-1.29-23.689-2.601-30.608-2.583l-2.448.106-2.584.11-.11.005c-20.984.898-44.457 1.902-66.605 4.035v1.038c3.065-.106 6-.208 8.812-.308-2.79.317-5.69.739-8.69 1.297v1.48h.03c18.918-2.64 36.164-1.025 41.156-.557.75.07 1.224.115 1.385.115 1.804.194 2.827.348 3.672.475l.003.001.01.001a116.547 116.547 0 00.72.107c3.518.498 7.12.549 63.681 1.34h.003c15.256.214 35.728.482 59.727.827v-1.402c-7.811-.364-17.055-.69-24.974-.981zm-26.854-.852c-.905-.077-1.841-.158-2.81-.244A1281.313 1281.313 0 0194.38 85.31h-.001c-5.226-.55-8.877-.935-12.54-1.162-8.487-.528-17.043-.214-45.419.827h-.004l-3.358.124 1.14.022.157.003 1.264.025c4.903.078 15.216 1.271 17.01 1.479 21.89.178 44.583.536 67.289 1.15zM39.642 94.456c-1.225-.942-2.432-1.871-4.983-2.176-3.706-.442-20.477.778-33.511 1.842v-1.297c13.064-1.064 29.864-2.284 33.72-1.817 3.027.356 4.312 1.356 5.564 2.329 1.58 1.229 3.105 2.415 8.009 2.213 4.792-.195 9.868-1.487 14.413-2.643 3.93-1 7.463-1.899 10.07-1.899 1.982 0 7.827.57 15.029 1.274 13.112 1.281 30.72 3 37.705 2.515 6.634-.457 23.206 2.416 35.484 4.805 2.678-.257 6.721-.538 9.394-.84v2.45l.101.021a2.312 2.312 0 01-.867.182h-.651c-16.52 2.145-35.055 3.428-47.001 2.332-6.278-.479-12.149-1.063-17.773-1.623-16.261-1.617-30.443-3.028-46.34-1.079-.878.107-1.742.217-2.594.329l-.154.041h-.155c-2.388.317-4.68.649-6.901.971-8.139 1.181-15.348 2.227-23.011 1.885-7.52-.569-11.462-1.396-21.725-6.075-.786.097-1.55.192-2.287.286v-.649l1.176-.147c-.751-.347-1.534-.714-2.354-1.1h5.493c.449.21.858.4 1.238.57 9.14-1.069 19.747-2.071 23.444-1.45 2.161.355 4.751 1.257 7.543 2.23 2.292.798 4.72 1.644 7.157 2.274l1.823-.274h.002l.003-.001c3.344-.504 6.885-1.038 10.688-1.513 4.342-.55 8.574-.852 12.743-.974 7.856-.834 17.176-.99 25.988-.99 7.238 0 27.086 2.34 44.528 4.597 5.2-.22 10.502-.573 15.833-1.029-11.519-2.164-25.07-4.362-30.735-3.957-7.014.484-24.427-1.208-37.45-2.473l-.725-.07c-1.75-.171-3.293-.326-4.668-.464H82.9l-.04-.005c-6.475-.65-9.17-.921-11.792-.65-1.87.194-3.701.664-6.84 1.47l-.105.026-.403.104-.195.05-.256.065c-18.072 4.608-20.89 2.44-23.626.334zm97.079 6.74c-16.417-2.103-33.954-4.115-40.629-4.115-5.803 0-11.829.068-17.5.354 8.645.206 17.145 1.03 25.924 1.882h.004c8.314.807 16.879 1.637 26.055 1.99 2.026-.013 4.076-.051 6.146-.111zm-93.444-.749c-2.023-.582-4.014-1.276-5.902-1.934-2.739-.955-5.261-1.834-7.35-2.185-3.441-.573-13.296.323-22.117 1.338.202.083.396.16.585.231.087.026.272.102.549.215 1.908.78 8.158 3.334 16.365 3.746 5.609.252 11.387-.458 17.87-1.411z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M82.522 107.678c-7.657.485-13.669 1.903-17.557 3.469-.359.112-5.683 2.052-5.743 2.09-18.125 5.596-39.87-2.09-59.222-10.67v-1.753c19.382 8.729 41.007 16.526 58.953 11.042 20.49-7.624 26.788-6.598 54.366-2.104l1.707.277 3.209.522c.846.111 1.692.244 2.538.376h.001c1.128.177 2.256.354 3.384.482l.021.002.035.005c1.173.152 23.047 2.643 47.685-2.171v1.082c-26.802 5.579-47.411 2.579-63.254-.08-8.945-1.5-17.24-2.892-26.123-2.569z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M67.818 119.946c3.689-.682 15.89-.251 31.261.291 7.717.273 16.233.574 24.872.776-4.058.173-6.77.599-7.261 1.391-2.661 4.282 31.227 5.917 54.874 6.514v-1.298c-24.424-.675-51.048-2.154-53.469-4.671 3.139-2.05 36.16.078 53.469 1.427v-.701c0-.207-.06-.415-.15-.622-7.817-.616-19.842-1.377-29.587-1.803 10.41.006 21.667-.267 29.796-1.053v-1.754c-19.045 1.804-49.832.802-72.49.03h-.003c-15.556-.529-27.923-.951-31.551-.28-10.37 1.914-58.476-4.758-65.745-5.766h-.001v-.001h-.007l-.024-.004-.714-.098v1.789l.503.07.005.001c7.31 1.021 55.48 7.747 66.222 5.762z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M0 117.727c19.372-.026 53.332.571 60.118 5.009 8.759 5.657-34.857 4.282-60.028 3.062v-1.324c21.015.987 57.188 2.258 59.55-.363-3.11-4.386-38.983-5.061-59.61-5.061 0-.064-.008-.123-.015-.181v-.001a1.03 1.03 0 01-.015-.181v-.96z%27 fill=%27%23C68C4E%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M150.019 134.057a77.208 77.208 0 01-3.247.421c7.919.291 17.163.617 24.974.982v1.401c-23.823-.342-44.19-.608-59.39-.821l-.337-.005h-.022c-56.542-.792-60.145-.842-63.662-1.341-.237-.033-.475-.069-.728-.107l-.005-.001h-.003a75.906 75.906 0 00-3.67-.476c-.16 0-.632-.044-1.38-.114h-.004c-4.992-.468-22.238-2.084-41.155.555h-.03v-1.479c2.999-.558 5.9-.98 8.689-1.296-2.812.099-5.747.202-8.812.308v-1.038c22.148-2.134 45.622-3.138 66.605-4.036l.112-.005 5.03-.215c6.92-.019 18.857 1.292 30.608 2.582l.001.001h.002c4.749.521 9.467 1.039 13.812 1.465 24.125 2.223 26.973 1.866 31.278 1.327h.001c2.23-.28 4.851-.608 11.022-.652 2.571 0 7.581.181 11.886.545v1.427c-1.465-.078-4.293-.13-5.758-.182-9.048-.226-12.522.277-15.816.754h-.001zm-32.911-.676c.969.086 1.905.168 2.81.244-22.706-.614-45.4-.971-67.29-1.15-1.795-.208-12.107-1.401-17.01-1.479l-1.263-.025-1.297-.025 3.358-.123c28.379-1.041 36.936-1.355 45.422-.828 3.663.228 7.314.612 12.538 1.162l.004.001c5.353.563 12.36 1.301 22.728 2.223z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M34.66 138.127c2.55.305 3.758 1.234 4.982 2.177 2.736 2.105 5.554 4.274 23.626-.334l.96-.246c3.138-.805 4.97-1.275 6.84-1.469 2.62-.272 5.316-.001 11.79.649h.001v.001c1.386.139 2.945.295 4.714.468l.725.07c13.023 1.265 30.436 2.957 37.45 2.473 6.905-.493 25.529 2.881 37.906 5.346h7.479c.329 0 .598-.078.867-.182-11.569-2.387-38.061-7.007-46.342-6.436-6.985.486-24.593-1.234-37.704-2.514h-.003l-.004-.001c-7.2-.703-13.041-1.274-15.023-1.274-2.607 0-6.14.899-10.07 1.899-4.544 1.157-9.62 2.448-14.413 2.643-4.904.203-6.43-.984-8.009-2.213-1.252-.973-2.537-1.973-5.563-2.329-3.857-.467-20.657.753-33.721 1.817v1.298c13.034-1.064 29.805-2.284 33.511-1.843z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M37.376 144.361v-.001h-.001c-2.74-.955-5.261-1.834-7.35-2.184-4.364-.727-19.042.908-28.847 2.154v-.649c9.865-1.246 24.513-2.881 28.997-2.128 2.161.355 4.751 1.258 7.543 2.23 6.17 2.15 13.323 4.642 19.003 2.337 8.311-3.374 24.574-3.815 39.401-3.815 7.623 0 29.237 2.595 47.293 4.957h-4.992c-16.891-2.18-35.425-4.334-42.33-4.334-14.739 0-30.912.441-39.073 3.763a13.75 13.75 0 01-1.763.571h-7.922c-3.387-.61-6.815-1.805-9.959-2.901zM104.346 152.862h-.001c-16.26-1.617-30.442-3.028-46.34-1.079-3.455.42-6.697.891-9.804 1.341-8.139 1.181-15.348 2.227-23.011 1.885-8.313-.629-12.252-1.574-25.19-7.686h5.493c1.23.577 2.169.997 3 1.312.087.026.272.102.549.215 1.908.78 8.157 3.334 16.365 3.746 6.576.295 13.385-.731 21.291-1.923 3.346-.504 6.888-1.038 10.693-1.513 16.452-2.079 31.337-.636 47.125.895 8.316.806 16.882 1.637 26.059 1.99 12.324-.079 28.277-1.075 41.324-2.544v2.465c-16.95 2.256-37.493 3.647-49.781 2.519-6.275-.479-12.144-1.063-17.765-1.622h-.005l-.002-.001z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M64.965 161.885c3.888-1.566 9.9-2.984 17.557-3.469 8.883-.323 17.178 1.069 26.123 2.569 15.843 2.659 35.089 5.659 61.891.08v-1.082c-24.637 4.814-45.147 2.324-46.321 2.171h-.001l-.042-.006-.014-.001a80.106 80.106 0 01-3.385-.482h-.001c-.846-.132-1.691-.265-2.537-.376-1.711-.277-3.348-.544-4.916-.8-27.578-4.493-33.876-5.52-54.366 2.105-17.946 5.484-39.571-2.313-58.953-11.043v1.754c19.352 8.58 41.097 16.266 59.222 10.67.06-.038 5.384-1.978 5.743-2.09z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M99.08 170.975c-15.373-.542-27.573-.973-31.262-.291-10.742 1.985-58.908-4.741-66.221-5.762h-.001l-.508-.071v-1.79l.327.046.411.057h.005c7.26 1.007 55.376 7.681 65.748 5.767 3.628-.671 15.995-.25 31.551.28h.002c22.658.772 53.445 1.774 72.491-.03v1.754c-8.129.786-19.386 1.059-29.796 1.052 9.745.427 21.77 1.188 29.587 1.804.09.207-1.213.415-1.213.622v.701c-17.309-1.349-48.967-3.477-52.106-1.427 2.421 2.517 27.682 3.996 52.106 4.671v1.298c-23.647-.597-56.172-2.232-53.511-6.514.491-.792 3.203-1.218 7.261-1.391-8.639-.202-17.153-.503-24.87-.776h-.002z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M60.118 173.474c-6.786-4.438-40.746-5.035-60.118-5.009v.96c0 .036.002.069.006.102 0 .009.001.019.003.028l.006.052c.007.058.015.117.015.181 20.627 0 56.5.675 59.61 5.061-2.362 2.621-38.535 1.349-59.55.363v1.324c25.17 1.22 68.787 2.595 60.028-3.062z%27 fill=%27%23C68C4E%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M146.772 185.216a77.48 77.48 0 003.248-.421c3.294-.477 6.768-.98 15.816-.754l.002.001c1.464.051 2.928.103 4.392.181v-1.427c-4.304-.364-7.951-.545-10.522-.545-6.172.044-8.793.372-11.023.652-4.305.539-7.153.896-31.278-1.327-4.345-.426-9.065-.944-13.815-1.466-11.751-1.29-23.689-2.601-30.608-2.582l-2.448.105-2.584.111-.11.004c-20.984.898-44.457 1.902-66.605 4.036v1.038c3.065-.106 6-.209 8.812-.308-2.79.316-5.69.738-8.69 1.296v1.479h.03c18.918-2.639 36.164-1.023 41.156-.555.75.07 1.224.114 1.385.114 1.804.195 2.827.349 3.672.476h.003l.21.032.175.026.345.05c3.518.499 7.12.549 63.681 1.341l.341.005c15.2.213 34.204.479 58.026.821v-1.401c-7.811-.365-15.692-.691-23.611-.982zm-26.854-.853c-.905-.076-1.841-.158-2.81-.244-10.368-.922-17.375-1.66-22.728-2.223h-.001c-5.226-.551-8.877-.935-12.54-1.163-8.486-.527-17.043-.213-45.414.828H36.416l-3.358.123 1.213.024.102.002 1.246.024c4.9.078 15.202 1.27 17.006 1.479h.004c21.89.179 44.583.536 67.289 1.15z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M39.642 191.042c-1.225-.943-2.432-1.872-4.983-2.177-3.706-.441-20.477.779-33.511 1.843v-1.298c13.064-1.064 29.864-2.284 33.72-1.817 3.027.356 4.312 1.356 5.564 2.329 1.58 1.229 3.105 2.416 8.009 2.213 4.792-.195 9.868-1.486 14.413-2.643 3.93-1 7.463-1.899 10.07-1.899 1.982 0 7.827.571 15.029 1.275 13.112 1.28 30.72 3 37.705 2.514 8.281-.571 32.047 4.049 43.616 6.436a2.312 2.312 0 01-.867.182h-4.753c-12.377-2.465-31.001-5.839-37.906-5.346-7.014.484-24.427-1.208-37.45-2.473l-.725-.07a1572.7 1572.7 0 01-4.694-.467l-.02-.002c-6.475-.65-9.17-.921-11.792-.649-1.87.193-3.701.663-6.84 1.469l-.054.014-.905.232c-18.072 4.608-20.89 2.439-23.626.334z%27 fill=%27%23C68C4E%27/%3E%3Cpath d=%27M30.026 192.914c2.088.35 4.61 1.229 7.35 2.184v.001c3.143 1.095 6.572 2.291 9.959 2.901h7.922a13.75 13.75 0 001.763-.571c8.161-3.322 24.334-3.763 39.072-3.763 6.906 0 25.44 2.154 42.331 4.334h4.992c-18.056-2.362-39.67-4.957-47.293-4.957-14.827 0-31.09.441-39.4 3.815-5.68 2.305-12.835-.187-19.004-2.337-2.792-.972-5.382-1.875-7.543-2.23-4.484-.753-19.132.882-28.997 2.128v.648c9.805-1.245 24.483-2.88 28.848-2.153z%27 fill=%27%23C68C4E%27/%3E%3C/svg%3E");
}
.app-container #app {
  border-radius: 8px;
}
.app-container #app.blur > *:not(.app-overlay) {
  filter: url(../img/svg/filter.svg#svg-blur);
  pointer-events: none;
}
.app-container #app.blur::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: url(../img/svg/filter.svg#svg-blur);
  background: url(../img/bg-min.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.app-container #app .app-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.app-container #app .app-overlay__intro {
  width: 185px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.app-container #app .app-overlay__intro h2 {
  font-size: 38px;
  color: white;
  text-align: center;
}
.app-container #app .app-overlay__settings {
  width: 280px;
}
.app-container #app .app-overlay__settings h3 {
  text-align: center;
  font-size: 38px;
  color: white;
  letter-spacing: -0.02em;
  padding-bottom: 8px;
}
.app-container #app .app-overlay__settings .settings-container {
  padding: 12px 12px 16px;
  background-size: 660px auto;
  background-color: #D19B61;
  border-radius: 16px;
  box-shadow: 0px 1px 0px #F3B878, 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 6px 0px #B7844E, inset 0px 1px 0px #FFF1D9;
}
.app-container #app .app-overlay__settings .settings-container .settings-window {
  padding: 20px 32px 32px;
  background: linear-gradient(179.97deg, #FDF4DB 0.03%, #FDF4DB 28.18%, #FCF0D8 79.5%, #EAD4B4 105.99%);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), 0px 6px 0px #DCBC89, inset 0px 1px 0px #FFFFFF;
  border-radius: 12px;
}
.app-container #app .app-overlay__settings .settings-container .settings-window__stat > div:not(:last-child) {
  border-bottom: 1px solid #F2E0C2;
}
.app-container #app .app-overlay__settings .settings-container .settings-window__stat > div {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 16px;
  color: #866F58;
}
.app-container #app .app-overlay__settings .settings-container .settings-window__control {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.app-container #app .app-overlay__settings .settings-container .settings-window__control .autorun {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 12px;
}
.app-container #app .app-overlay__settings .settings-container .settings-window__control .autorun p {
  font-size: 16px;
  color: #866F58;
}
.app-container #app .app-overlay .hide {
  display: none;
}
.app-container #app .app-topbar {
  display: flex;
  gap: 20px;
  padding: 32px;
}
.app-container #app .app-topbar .topbar-widget {
  position: relative;
  min-width: 105px;
}
.app-container #app .app-topbar .topbar-widget__icon {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  z-index: 2;
}
.app-container #app .app-topbar .topbar-widget__icon.clock {
  background-image: url("data:image/svg+xml,%3Csvg width=%2732%27 height=%2734%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Ccircle cx=%2716%27 cy=%2718%27 r=%2716%27 fill=%27%23AA7333%27/%3E%3Ccircle cx=%2716%27 cy=%2716%27 r=%2716%27 fill=%27url%28%23prefix__paint0_linear_7_1994%29%27/%3E%3Ccircle cx=%2716%27 cy=%2716%27 r=%2712%27 fill=%27%23A55820%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M4.041 17C4.549 10.84 9.709 6 16 6c6.29 0 11.45 4.84 11.959 11-.508 6.16-5.668 11-11.959 11-6.29 0-11.45-4.84-11.959-11z%27 fill=%27%23B75F27%27/%3E%3Cellipse cx=%2727.726%27 cy=%2723.353%27 rx=%273%27 ry=%271.5%27 transform=%27rotate%28-62.202 27.726 23.353%29%27 fill=%27%23fff%27/%3E%3Cellipse cx=%274.185%27 cy=%278.483%27 rx=%272.016%27 ry=%271.008%27 transform=%27rotate%28-62.202 4.185 8.483%29%27 fill=%27%23fff%27/%3E%3Cpath d=%27M16 10a2 2 0 00-2 2v6c0 .373.102.723.28 1.022.17.34.437.638.792.842l5.196 3a2 2 0 102-3.464L18 16.936V12a2 2 0 00-2-2z%27 fill=%27%23A55820%27/%3E%3Cpath d=%27M16 9a2 2 0 00-2 2v6c0 .373.102.723.28 1.022.17.34.437.638.792.842l5.196 3a2 2 0 102-3.464L18 15.936V11a2 2 0 00-2-2z%27 fill=%27%23E9C25D%27/%3E%3Cellipse cx=%2721.163%27 cy=%2720.179%27 rx=%27.661%27 ry=%27.996%27 transform=%27rotate%2843.011 21.163 20.18%29%27 fill=%27%23fff%27/%3E%3Cdefs%3E%3ClinearGradient id=%27prefix__paint0_linear_7_1994%27 x1=%2716%27 y1=%270%27 x2=%2716%27 y2=%2732%27 gradientUnits=%27userSpaceOnUse%27%3E%3Cstop stop-color=%27%23ECC662%27/%3E%3Cstop offset=%271%27 stop-color=%27%23E2BC55%27/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}
.app-container #app .app-topbar .topbar-widget__icon.idonut {
  background-image: url("data:image/svg+xml,%3Csvg width=%2732%27 height=%2734%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-path=%27url%28%23prefix__clip0_7_2063%29%27%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M8.734 32.52c2.217 1.182 4.73 1.456 7.391 1.478 2.353.02 4.587-.072 6.592-.98 2.16-.977 4.448-3.644 5.956-5.446 2.348-2.806 3.358-5.242 3.326-9.24a16.476 16.476 0 00-2.09-7.914 16.586 16.586 0 00-5.418-5.81A15.986 15.986 0 0015.871 2c-2.275-.018-4.433.85-6.386 1.701C6.625 4.948 4.607 6.624 2.93 9.24 1.306 11.77-.026 14.802 0 18.07c.03 3.831 1.772 7.366 3.99 10.158 1.401 1.764 2.753 3.229 4.744 4.29zm7.633-11.522c.71.029 1.383-.207 2.064-.525.601-.28 1.16-.575 1.56-1.048.43-.509.69-1.46.854-2.098.256-.994.216-1.731-.279-2.736a4.61 4.61 0 00-1.496-1.744 4.695 4.695 0 00-2.09-.81 4.552 4.552 0 00-2.513.39c-.582.271-1.026.753-1.42 1.205-.577.662-.887 1.33-.995 2.194-.105.836-.075 1.763.33 2.585.474.963 1.348 1.644 2.254 2.08.572.274 1.095.48 1.731.507z%27 fill=%27%23AA7333%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M8.734 30.52c2.217 1.182 4.73 1.456 7.391 1.478 2.353.02 4.587-.072 6.592-.98 2.16-.977 4.448-3.644 5.956-5.446 2.348-2.806 3.358-5.242 3.326-9.24a16.477 16.477 0 00-2.09-7.914 16.587 16.587 0 00-5.418-5.81A15.986 15.986 0 0015.871 0c-2.275-.018-4.433.85-6.386 1.701C6.625 2.948 4.607 4.624 2.93 7.24 1.306 9.77-.026 12.802 0 16.07c.03 3.831 1.772 7.366 3.99 10.158 1.401 1.764 2.753 3.229 4.744 4.29zm7.633-9.522c.71.029 1.383-.207 2.064-.525.601-.28 1.16-.575 1.56-1.048.43-.509.69-1.46.854-2.098.256-.994.216-1.731-.279-2.736a4.61 4.61 0 00-1.496-1.744 4.695 4.695 0 00-2.09-.81 4.552 4.552 0 00-2.513.39c-.582.271-1.026.753-1.42 1.205-.577.662-.887 1.33-.995 2.194-.105.836-.075 1.763.33 2.585.474.963 1.348 1.644 2.254 2.08.572.274 1.095.48 1.731.507z%27 fill=%27%23FFA96E%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M21.028 28.511c2.202-.684 4.012-2.144 5.759-3.862 1.544-1.52 2.939-3.032 3.662-4.919.778-2.033.557-5.234.382-7.371-.273-3.329-1.178-5.55-3.763-8.093A14.784 14.784 0 0020.63.547a15.138 15.138 0 00-7.255-.2A14.866 14.866 0 006.09 4.284c-1.492 1.47-2.34 3.43-3.065 5.248-1.062 2.662-1.3 5.05-.713 7.82.567 2.681 1.646 5.493 3.76 7.573 2.478 2.438 5.879 3.573 9.114 3.92 2.043.22 3.863.28 5.84-.334zm-4.66-7.513c.708.029 1.382-.207 2.063-.525.601-.28 1.16-.575 1.56-1.048.43-.509.69-1.46.854-2.098.256-.994.216-1.731-.279-2.736a4.61 4.61 0 00-1.496-1.744 4.695 4.695 0 00-2.09-.81 4.552 4.552 0 00-2.513.39c-.582.271-1.026.753-1.42 1.205-.577.662-.887 1.33-.995 2.194-.105.836-.075 1.763.33 2.585.474.963 1.348 1.644 2.254 2.08.572.274 1.095.48 1.731.507z%27 fill=%27%23D4535C%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M22.747 25.578c1.822-.59 3.32-1.848 4.766-3.33 1.278-1.309 2.433-2.613 3.03-4.24.645-1.752.462-4.511.317-6.354-.225-2.87-.975-4.784-3.114-6.977A12.043 12.043 0 0016.414 1.3a12.162 12.162 0 00-6.028 3.394C9.15 5.96 8.45 7.651 7.85 9.217c-.879 2.295-1.075 4.354-.59 6.741.47 2.312 1.362 4.736 3.111 6.53 2.051 2.101 4.866 3.08 7.543 3.379 1.691.19 3.197.241 4.834-.289zm-6.38-4.58c.71.029 1.383-.207 2.064-.525.601-.28 1.16-.575 1.56-1.048.43-.509.69-1.46.854-2.098.256-.994.216-1.731-.279-2.736a4.61 4.61 0 00-1.496-1.744 4.695 4.695 0 00-2.09-.81 4.552 4.552 0 00-2.513.39c-.582.271-1.026.753-1.42 1.205-.577.662-.887 1.33-.995 2.194-.105.836-.075 1.763.33 2.585.474.963 1.348 1.644 2.254 2.08.572.274 1.095.48 1.731.507z%27 fill=%27%23FF626E%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M19.545 23.657c1.265-.422 2.279-1.263 3.247-2.247.855-.869 1.625-1.732 1.99-2.788.393-1.137.167-2.9 0-4.076-.26-1.833-.855-3.04-2.442-4.394a8.995 8.995 0 00-3.872-1.924 9.351 9.351 0 00-4.243.033 8.634 8.634 0 00-4.135 2.318c-.828.84-1.263 1.94-1.632 2.958-.54 1.49-.606 2.814-.18 4.331.412 1.47 1.127 3 2.425 4.106 1.52 1.297 3.541 1.856 5.44 1.984 1.201.08 2.266.078 3.402-.301zm-3.178-2.66c.71.03 1.383-.206 2.064-.524.601-.28 1.16-.575 1.56-1.048.43-.509.69-1.46.854-2.098.256-.994.216-1.731-.279-2.736a4.61 4.61 0 00-1.496-1.744 4.695 4.695 0 00-2.09-.81 4.552 4.552 0 00-2.513.39c-.582.271-1.026.753-1.42 1.205-.577.662-.887 1.33-.995 2.194-.105.836-.075 1.763.33 2.585.474.963 1.348 1.644 2.254 2.08.572.274 1.095.48 1.731.507z%27 fill=%27%23D4535C%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M19.187 22.678c1.116-.395 2.01-1.184 2.864-2.106.756-.815 1.434-1.623 1.757-2.613.346-1.067.147-2.72 0-3.823-.23-1.717-.755-2.85-2.155-4.118a7.779 7.779 0 00-7.16-1.773 7.512 7.512 0 00-3.649 2.173c-.73.788-1.114 1.819-1.44 2.773-.476 1.397-.535 2.638-.159 4.06.364 1.377.995 2.813 2.14 3.85 1.341 1.216 3.124 1.74 4.8 1.86 1.06.075 1.999.073 3.002-.282zm-2.82-1.68c.71.029 1.383-.207 2.064-.525.601-.28 1.16-.575 1.56-1.048.43-.509.69-1.46.854-2.098.256-.994.216-1.731-.279-2.736a4.61 4.61 0 00-1.496-1.744 4.695 4.695 0 00-2.09-.81 4.552 4.552 0 00-2.513.39c-.582.271-1.026.753-1.42 1.205-.577.662-.887 1.33-.995 2.194-.105.836-.075 1.763.33 2.585.474.963 1.348 1.644 2.254 2.08.572.274 1.095.48 1.731.507z%27 fill=%27%23C25054%27/%3E%3Cpath d=%27M18.829 20.721c.967-.342 1.742-1.026 2.482-1.825.655-.706 1.243-1.407 1.522-2.265.3-.925.128-2.357 0-3.313-.198-1.488-.654-2.47-1.867-3.57a6.73 6.73 0 00-6.206-1.536 6.51 6.51 0 00-3.162 1.883c-.633.684-.966 1.577-1.248 2.404-.412 1.21-.463 2.286-.137 3.519.315 1.193.861 2.437 1.854 3.336 1.052.954 2.417 1.416 3.743 1.572-.404-.087-.777-.245-1.174-.435-.906-.436-1.78-1.117-2.254-2.08-.405-.822-.435-1.75-.33-2.585.108-.864.418-1.532.995-2.194.394-.452.838-.934 1.42-1.205a4.552 4.552 0 012.514-.39 4.695 4.695 0 012.088.81 4.61 4.61 0 011.497 1.744c.495 1.005.535 1.743.279 2.736-.165.638-.423 1.59-.854 2.098-.4.473-.959.767-1.56 1.048-.575.268-1.143.478-1.733.52.732.028 1.413-.017 2.13-.272z%27 fill=%27%23FFA96F%27/%3E%3Cpath d=%27M16.572 5.197a.693.693 0 01.483-.839l1.29-.337a.664.664 0 01.808.502.694.694 0 01-.483.839l-1.29.337a.664.664 0 01-.808-.502zM6.198 9.04a.648.648 0 01.938-.085l1.018.889a.71.71 0 01.082.974.648.648 0 01-.937.084l-1.02-.889a.71.71 0 01-.08-.973zM20.761 22.9a.692.692 0 01.499.829l-.223 1.003a.665.665 0 01-.797.518.692.692 0 01-.5-.828l.223-1.004a.665.665 0 01.798-.518zM22.929 7.329c.324.18.445.6.27.936l-.63 1.217a.653.653 0 01-.901.282.705.705 0 01-.27-.937l.63-1.217a.653.653 0 01.901-.281zM7.612 14.317c.323.181.444.6.27.937l-.63 1.217a.653.653 0 01-.902.28.705.705 0 01-.27-.935l.63-1.218a.653.653 0 01.902-.28zM25.43 11.999a.654.654 0 01.895.303l.603 1.233a.704.704 0 01-.292.929.654.654 0 01-.895-.303l-.602-1.233a.704.704 0 01.292-.93zM10.793 4.626a.654.654 0 01.895.304l.602 1.232a.704.704 0 01-.292.93.654.654 0 01-.894-.304L10.5 5.555a.704.704 0 01.292-.929zM25.77 18.826a.684.684 0 01-.61.744l-1.326.112a.674.674 0 01-.717-.633.684.684 0 01.61-.745l1.326-.111a.674.674 0 01.717.633zM9.358 20.67a.684.684 0 01-.61.744l-1.326.111a.674.674 0 01-.717-.633.684.684 0 01.61-.745l1.326-.111a.674.674 0 01.717.633zM14.365 24.387a.657.657 0 01.867.38l.5 1.282a.7.7 0 01-.368.9.657.657 0 01-.866-.38l-.5-1.282a.7.7 0 01.367-.9z%27 fill=%27%23fff%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27prefix__clip0_7_2063%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h32v34H0z%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.app-container #app .app-topbar .topbar-widget__data {
  position: absolute;
  height: 28px;
  padding: 0 12px 0 12px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 0 14px 14px 0;
  background-color: white;
  left: 30px;
  top: 6px;
  line-height: 28px;
  z-index: 1;
}
.app-container #app .app-topbar .topbar-widget__data.game-timer {
  min-width: 10ch;
}
.app-container #app .app-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  z-index: 5;
  padding: 26px 32px;
}
.app-container #app .app-controls > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.app-container #app .app-controls > div p {
  color: white;
  font-size: 12px;
  font-weight: 900;
}
.app-container #app .app-controls > div.hide {
  visibility: hidden;
}
.app-container #app .app-controls__jump button {
  padding: 0 90px;
}
.app-container #app .app-controls__settings {
  flex-basis: 100%;
}
.app-container #app .app-controls__settings button {
  margin-left: auto;
}
.app-container .app-stat {
  width: 100%;
  height: 640px;
  border-radius: 12px;
  position: relative;
}
.app-container .app-stat-inner {
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), 0px 6px 0px #DCBC89, inset 0px 1px 0px #FFFFFF;
  background: linear-gradient(179.97deg, #FDF4DB 0.03%, #FDF4DB 28.18%, #FCF0D8 79.5%, #EAD4B4 105.99%);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: inherit;
  max-height: 640px;
}
.app-container .app-stat__title {
  text-align: center;
  font-size: 20px;
  color: black;
}
.app-container .app-stat_table {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.app-container .app-stat_table::-webkit-scrollbar {
  display: none;
}
.app-container .app-stat_table__row {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: white;
  font-weight: 700;
  font-size: 14px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
  border-radius: inherit;
}
.app-container .app-stat_table__row.thead {
  background-color: #FDF4DB;
  border-radius: 0;
  box-shadow: none;
  color: #866F58;
  order: 1;
  position: sticky;
  top: 0;
}
.app-container .app-stat_table__row.thead:first-child {
  display: none;
}
.app-container .app-stat_table__row.nodata {
  order: 2;
}
.app-container .app-stat_table__row.result {
  order: 3;
}
.app-container .app-stat_table__row.result ~ .nodata {
  display: none;
}
.app-container .app-stat_table__row p {
  flex-basis: 100%;
  text-align: center;
}
.app-container .app-stat_table__row p.true {
  color: #2DAC00;
}
.app-container .app-stat_table__row p.true::before {
  content: "Success";
}
.app-container .app-stat_table__row p.false {
  color: #C72323;
}
.app-container .app-stat_table__row p.false::before {
  content: "Fail";
}
.app-container .ui-buttons {
  padding: 50px;
  width: 100%;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  gap: 30px;
}
.app-container .ui-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 44px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  color: white;
  font-weight: 900;
  font-size: 16px;
  transform-style: preserve-3d;
  touch-action: manipulation;
  transition: transform 0.15s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.app-container .ui-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: translateZ(-1px);
  transition: inherit;
}
.app-container .ui-button:active {
  transform: translateY(6px);
}
.app-container .ui-button:active::before {
  transform: translateY(-6px) translateZ(-1px);
}
.app-container .ui-button:focus:not(.focus-visible) {
  outline: none;
}
.app-container .ui-button:focus:not(:focus-visible) {
  outline: none;
}
.app-container .ui-button.blue {
  background: linear-gradient(180deg, #EDF3FF 0%, #FFFFFF 100%);
  box-shadow: inset 0px 1px 0px #FFFFFF;
  color: #8193B4;
  font-size: 12px;
  text-transform: uppercase;
}
.app-container .ui-button.blue::before {
  background: #A1BAE7;
  outline: 2px solid rgba(29, 29, 29, 0.24);
}
.app-container .ui-button.blue.square {
  width: 44px;
  flex-shrink: 0;
}
.app-container .ui-button.green {
  background: linear-gradient(180deg, #DCEB5E 0%, #849E38 100%);
  box-shadow: inset 0px 1px 0px #F1FFBD;
  text-shadow: 0px 1px 0px #617818;
}
.app-container .ui-button.green::before {
  background: #617818;
}
.app-container .ui-button.green:hover {
  background: linear-gradient(180deg, #E9F581 0%, #96B344 100%);
}
.app-container .ui-button.red {
  background: linear-gradient(180deg, #FF6363 0%, #912B2B 100%);
  box-shadow: inset 0px 1px 0px #FFA0A0;
  text-shadow: 0px 1px 0px #6B1C1C;
}
.app-container .ui-button.red::before {
  background: #6B1C1C;
}
.app-container .ui-button.red:hover {
  background: linear-gradient(180deg, #FF8585 0%, #C84343 100%);
}
.app-container .ui-button.yellow {
  width: 44px;
  flex-shrink: 0;
  background-color: #FFD04A;
}
.app-container .ui-button.yellow::before {
  top: 6px;
  background: #D8A208;
  outline: 4px solid white;
}
.app-container .ui-button.yellow:active {
  transform: translateY(5px);
}
.app-container .ui-button.yellow:active::before {
  transform: translateY(-5px) translateZ(-1px);
}
.app-container .ui-button .icon__gear {
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width=%2720%27 height=%2720%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M6.4 16.624a1.5 1.5 0 01.873.103 1.5 1.5 0 01.909 1.373v.082a1.818 1.818 0 003.636 0v-.155a1.499 1.499 0 01.91-1.373h.072a1.5 1.5 0 011.654.3l.055.055a1.82 1.82 0 102.573-2.573l-.055-.054a1.5 1.5 0 01-.3-1.655 1.5 1.5 0 011.373-.909h.082a1.818 1.818 0 000-3.636h-.155a1.5 1.5 0 01-1.373-.91V7.2a1.5 1.5 0 01.3-1.655l.055-.054a1.819 1.819 0 10-2.573-2.573l-.054.055a1.5 1.5 0 01-1.655.3 1.5 1.5 0 01-.982-1.373v-.082a1.818 1.818 0 00-3.636 0v.155A1.5 1.5 0 017.2 3.345a1.5 1.5 0 01-1.655-.3l-.054-.054a1.818 1.818 0 10-2.573 2.573l.055.054a1.5 1.5 0 01.3 1.655 1.5 1.5 0 01-1.373.982h-.082a1.818 1.818 0 000 3.636h.155a1.5 1.5 0 011.372.909 1.5 1.5 0 01-.3 1.654l-.054.055a1.818 1.818 0 001.286 3.106 1.818 1.818 0 001.287-.533l.054-.055a1.5 1.5 0 01.781-.403zm3.6-3.897a2.727 2.727 0 110-5.454 2.727 2.727 0 010 5.454z%27 fill=%27%23fff%27/%3E%3C/svg%3E");
  filter: drop-shadow(0px 2px 0px #D8A208);
}
.app-container .ui-button .icon__play {
  height: 12px;
  width: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width=%277.333%27 height=%2710%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M1.6 9.8A1 1 0 010 9V1A1 1 0 011.6.2l5.333 4a1 1 0 010 1.6z%27 fill=%27%23fff%27 paint-order=%27stroke fill markers%27/%3E%3Cdefs id=%27prefix__defs21%27%3E%3Cfilter id=%27prefix__prefix__filter0_d_203_190%27 x=%270%27 y=%27.498%27 width=%277.333%27 height=%2711.004%27 filterUnits=%27userSpaceOnUse%27 color-interpolation-filters=%27sRGB%27%3E%3CfeFlood flood-opacity=%270%27 result=%27BackgroundImageFix%27 id=%27prefix__feFlood6%27/%3E%3CfeColorMatrix in=%27SourceAlpha%27 values=%270 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0%27 result=%27hardAlpha%27 id=%27prefix__feColorMatrix8%27/%3E%3CfeOffset dy=%271%27 id=%27prefix__feOffset10%27/%3E%3CfeComposite in2=%27hardAlpha%27 operator=%27out%27 id=%27prefix__feComposite12%27/%3E%3CfeColorMatrix values=%270 0 0 0 0.380392 0 0 0 0 0.470588 0 0 0 0 0.0941176 0 0 0 1 0%27 id=%27prefix__feColorMatrix14%27/%3E%3CfeBlend in2=%27BackgroundImageFix%27 result=%27effect1_dropShadow_203_190%27 id=%27prefix__feBlend16%27 mode=%27normal%27/%3E%3CfeBlend in=%27SourceGraphic%27 in2=%27effect1_dropShadow_203_190%27 result=%27shape%27 id=%27prefix__feBlend18%27 mode=%27normal%27/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 1px 0px #617818);
}
.app-container .ui-switch {
  position: relative;
  width: 66px;
  flex-shrink: 0;
  height: 34px;
}
.app-container .ui-switch input {
  display: none;
}
.app-container .ui-switch input:not(:checked) + .slider {
  background: linear-gradient(180deg, #E74848 0%, #FF8383 100%);
}
.app-container .ui-switch input:checked + .slider {
  background: linear-gradient(180deg, #A9BE48 0%, #BDD063 100%);
}
.app-container .ui-switch input:checked + .slider::before {
  transform: translateX(33px);
}
.app-container .ui-switch input:checked + .slider::after {
  content: "On";
  text-shadow: 0px 1px 0px #617818;
  left: 20px;
  right: auto;
}
.app-container .ui-switch input:focus + .slider {
  box-shadow: 0 0 1px #3f3f3f;
}
.app-container .ui-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 17px;
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 2px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.4s cubic-bezier(0.16, 0.77, 0.24, 0.84);
}
.app-container .ui-switch .slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background: linear-gradient(180deg, #E2ECFF 0%, #FFFFFF 100%);
  box-shadow: inset 0px 1px 0px #FFFFFF;
  border-radius: 50%;
  transition: inherit;
}
.app-container .ui-switch .slider::after {
  position: absolute;
  content: "Off";
  color: white;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  left: auto;
  font-size: 14px;
  font-weight: 900;
  text-shadow: 0px 1px 0px #C44B4B;
  transition: inherit;
}

/* Original CSS */
.app-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container #app {
  background: url(../img/bg-min.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1200px;
  height: 768px;
  position: relative;
}
.app-container svg.donut {
  width: 130px;
  height: auto;
  position: absolute;
  bottom: 160px;
}
.app-container svg.flag {
  height: 230px;
  position: absolute;
  bottom: 170px;
  right: 0;
  width: auto;
}
.app-container img.rock {
  height: 80px;
  width: auto;
  position: absolute;
  bottom: 170px;
}
.app-container .leg {
  transform-origin: center;
}
.app-container svg.donut.running .leg.left-leg {
  -webkit-animation-name: leftLeg__Run;
          animation-name: leftLeg__Run;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.app-container svg.donut.running .leg.right-leg {
  -webkit-animation-name: rightLeg__Run;
          animation-name: rightLeg__Run;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.app-container .annotation {
  background: rgba(255,255,255,0.31373);
  position: absolute;
  border-radius: 5px;
  left: 50px;
  bottom: 320px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.app-container .annotation .annotation-wrapper {
  position: relative;
  padding: 10px 15px;
}
.app-container .annotation .annotation-wrapper:after {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(255,255,255,0.31373);
  transform: rotate(270deg);
  bottom: -15px;
  left: 15px;
}
@-webkit-keyframes leftLeg__Run {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
@keyframes leftLeg__Run {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
@-webkit-keyframes rightLeg__Run {
  0% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@keyframes rightLeg__Run {
  0% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
